
<div class="newUnit">
<h2>Registra unità</h2>

<form>
    <div class="input">
        <label>Inserire ID</label>
        <input type="text" name="newUnit" [(ngModel)]="newUnit">
    </div>
    <div>
        <input type="submit" value="Registra" (click)="registration()">
    </div>
</form>
</div>



<div class = "deleteunit"> 
    <h2>Elimina Unità</h2>
    <select class="custom-select" [(ngModel)]="selectedUnit">
        
        <option *ngFor="let unit of listUnit">{{unit}}</option>
      </select>
      <input type="submit" value="Elimina {{selectedUnit}}" (click)="delete()">
</div>

<div *ngIf= "added">
    <h3>Unità aggiunta con token: {{token}}</h3>
</div>
<div *ngIf= "deleted">
    <h3>Unità eliminata</h3>
</div>
<div *ngIf= "fail">
    <h3>Non è stata possibile l'operazione per il seguente problema: {{msg}}</h3>
</div>


<div class="listau">
    <h2>Lista unità</h2>
    <ul>
        <li *ngFor="let unit of listUnit">
            {{unit}}
        </li>
    </ul>
</div>