ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(121, 121, 121);
  }
  
  li {
    float: left;
    height: 50px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover{
    background-color: red;
}

button{
    background-color: burlywood;
    text-align: center;
    padding: 16px;
    border-radius: 20%;
}
h2{
  text-align: center;
}