td{
    border: 1px solid black;
    padding: 0;    
}

input{
    font-size: 2em;
    min-width: 2em;
}

.dir{
    font-size: 2em;
    font-weight: bold;
    background-color: white;
}

.POI{
    width: 100%;
    height: 100%;
    background-color: red;
    color: white;
}

.POI-input{
    width: 50%;
    height: 50%;
    background-color: red;
    color: white; 
    font-size: 1em;
}

.NTr{
    background-color: black;
    width: 100%;
    height: 100%;
}

.YTr{
    background-color: white;
    width: 100%;
    height: 100%;
}

.non{
    border: none;
}