td{
    border: 1px solid black;
    padding: 0;    
}

input{
    font-size: 2em;
    min-width: 2em;
}

.dir{
    width: 100%;
    height: 100%;
    font-size: 2em;
    font-weight: bold;
    background-color: white;
}

.POILoad{
    width: 100%;
    height: 100%;
    background-color: red;
    color: white;
}

.POIUnload{
    width: 100%;
    height: 100%;
    background-color: rgb(173, 112, 72);
    color: white;
}

.POIExit{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 196, 0);
    color: white;
}

.POI-input{
    width: 50%;
    height: 50%;
    background-color: red;
    color: white; 
    font-size: 1em;
}

.NTr{
    background-color: black;
    width: 100%;
    height: 100%;
}

.YTr{
    background-color: white;
    width: 100%;
    height: 100%;
}

.non{
    border: none;
    
}
h2{
    text-align: center;
}
.button{
    background-color: #77ba99;
    text-align: center;
    padding: 3px;
    border-radius: 10%;
    font-size: 1em;
}

.add-button{
    background-color: #77ba99;
    text-align: center;
    padding: 3px;
    border-radius: 10%;
    font-size: 1.5em;
}
.change{
    float: right;
    margin-bottom: 4em;
}
.confirm{
    background-color: #BFFFBC;
    text-align: center;
    padding: 3px;
    border-radius: 10%;
    font-size: 1.5em;
}