*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262730;
  }
  
  li {
    float: left;
    height: 50px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding:16px;
    text-decoration: none;
  }
  
li a:hover{
    background-color: #d7c0d0;
}

.last{
  float: right;
  background-color:black;
  color: whitesmoke;
}
h2{
  text-align: center;
}
.err {
  color: yellow;
  background-color: red;
  padding: 0.5%;
}
.divErr{
  margin-bottom: 2%;
}