<table class="map">
    <tr *ngFor="let row of tmp; let i = index">
        <td *ngFor="let cell of row; let j = index">
            <div class="cc" [ngSwitch]="cell">
                <div *ngSwitchCase="0" class="NTr">&nbsp;</div>
                <div *ngSwitchCase="1" class="YTr">&nbsp;</div>
                <div *ngSwitchCase="2" class="dir">&#8593;</div>
                <div *ngSwitchCase="3" class="dir">&#8594;</div>
                <div *ngSwitchCase="4" class="dir">&#8595;</div>
                <div *ngSwitchCase="5" class="dir">&#8592;</div>
                <img *ngSwitchCase="7" class="unit" src="assets/mulettoN.png">
                <img *ngSwitchCase="8" class="unit" src="assets/mulettoE.png">
                <img *ngSwitchCase="9" class="unit" src="assets/mulettoS.png">
                <img *ngSwitchCase="10" class="unit" src="assets/mulettoO.png">
                <div *ngSwitchCase="11" class="nextPOI">{{nextPOI}}</div>
                <p *ngSwitchCase="20" class="POILoad">{{poiMap[i][j]}}</p>
                <p *ngSwitchCase="21" class="POIUnload">{{poiMap[i][j]}}</p>
                <p *ngSwitchCase="22" class="POIExit">{{poiMap[i][j]}}</p> 
            </div>
           
        </td>
    </tr>
</table>

<table class="legend">
    <tr>
        <td class="color">Cella</td>
        <td>Tipo</td>
    </tr>
    <tr>
        <td class="NTr">&nbsp;</td>
        <td>Zona non transitabile</td> 
    </tr>
    <tr>
        <td class="YTr">&nbsp;</td>
        <td>Zona transitabile</td> 
    </tr>
    <tr>
        <td class="nextPOI">&nbsp;</td>
        <td>Prossimo POI</td> 
    </tr>
    <tr>
        <td class="POILoad">&nbsp;</td>
        <td>POI di carico</td> 
    </tr>
    <tr>
        <td class="POIUnload">&nbsp;</td>
        <td>POI di scarico</td> 
    </tr>
    <tr>
        <td class="POIExit">&nbsp;</td>
        <td>POI d'uscita</td> 
    </tr>
</table>