td{
    border: 1px solid black;
}

.cc{
    width: 5em;
    height: 5em;
    padding: 0;
    margin: 0;   
    
}

img{
    width: 5em;
}

.dir{
    font-size: 4em;
    text-align: center;
    font-weight: bold;
    background-color: white;
}

.POI{
    width: 100%;
    height: 100%;
    background-color: red;
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
    font-size: 5em;
}

.NTr{
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 2em;
    margin: 0;
    color: white;
    text-align: center;
    font-size: 5em;
}
.YTr{
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 5em;
}