td{
    border: 1px solid black;
}

.cc{
    width: 2em;
    height: 2em;
    padding: 0;
    margin: 0;   
    
}
.map{
    float: left;
    display: inline;
}


.nextPOI{
    width: 100%;
    height: 100%;
    background-color: green;
    text-align: center;
    color: white;
    padding-top: 0.2em;
    margin: 0;
    font-size: 1em;
    word-wrap: break-word;
}

img{
    width: 2em;
}

.dir{
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    background-color: white;
}

.POILoad{
    width: 100%;
    height: 100%;
    background-color: red;
    text-align: center;
    color: white;
    padding: 0em;
    margin: 0;
    font-size: 1em;
    word-wrap: break-word;
    padding-top: 0.2em;
}

.POIUnload{
    width: 100%;
    height: 100%;
    background-color: rgb(173, 112, 72);
    text-align: center;
    color: white;
    padding: 0em;
    padding-top: 0.2em;
    margin: 0;
    font-size: 1em;
    word-wrap: break-word;
}

.POIExit{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 196, 0);
    text-align: center;
    color: white;
    padding: 0em;
    margin: 0;
    font-size: 1em;
    word-wrap: break-word;
    padding-top: 0.2em;
}

.NTr{
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 1em;
    margin: 0;
    color: white;
    text-align: center;
}
.YTr{
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1em;
}

.legend td:nth-child(1) {
    width: 2em;
    height: 2em;
}
.color{
    width: 2em;
}