.startbb{
    width: 50%;
    background-color: rgb(12, 12, 148);
    border: 1px solid darkblue;
    padding: 1em 0.5em;
    font-size: 1.5em;
    text-align: center;
}

.error{
    font-size: 2em;
    font-weight: bold;
}