h2{
    text-align: center;
}
td{
    border: 1px solid black;
}

.cc{
    width: 3.8em;
    height: 2.5em;
    padding: 0;
    text-align: center;
    margin: 0;       
}

.aa {
    width: 5em;
    height: 2.5em;
}

img{
    width: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.dir{
    font-size: 1.8em;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    background-color: white;
}

.POILoad{
    width: 100%;
    height: 100%;
    background-color: red;
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.POIUnload{
    width: 100%;
    height: 100%;
    background-color:rgb(173, 112, 72);
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.POIExit{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 196, 0);
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.NTr{
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 2em;
    margin: 0;
    color: white;
    text-align: center;
}
.YTr{
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1em;
}

.imgUnit {
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

.imgUnitRed {
    width: 100%;
    height: 100%;
    background-color: red;
    position: relative;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

.imgUnitBrown {
    width: 100%;
    height: 100%;
    background-color: rgb(173, 112, 72);
    position: relative;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

.imgUnitBlue {
    width: 100%;
    height: 100%;
    background-color: blue;
    position: relative;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

.imgUnit p {
    margin: 0;
    position: absolute;        
    top: 50%;
    left: 50%;                        
    transform: translate(-50%, -50%);
    text-align: center;
    color: orange;
    font-weight: bold;
}

.imgUnitRed p {
    padding: 0;
    margin: 0;
    position: absolute;        
    top: 50%;
    left: 50%;                        
    transform: translate(-50%, -50%);
    text-align: center;
    color: orange;
    font-weight: bold;
}
.imgUnitBrown p {
    padding: 0;
    margin: 0;
    position: absolute;        
    top: 50%;
    left: 50%;                        
    transform: translate(-50%, -50%);
    text-align: center;
    color: orange;
    font-weight: bold;
}
.imgUnitBlue p {
    padding: 0;
    margin: 0;
    position: absolute;        
    top: 50%;
    left: 50%;                        
    transform: translate(-50%, -50%);
    text-align: center;
    color: orange;
    font-weight: bold;
}
.list{    
    border: none;
    width: auto;
    padding-left: 5%;
}
.first{
    background-color: #333;
    color: whitesmoke;
}
.col{
    background-color: whitesmoke;
    color: black;
    width: 10%;
    text-align: center;
    font-size: large;
}

.col:nth-child(1){
    background-color:rgb(207, 207, 207);
    width: 20%;
}

.col:nth-child(2){
    background-color:#d7c0d0;
    width: 10%;
}

.col:nth-child(3){
    background-color:#77ba99;
    width: 15%;
}

.map{
    width: auto;
    float: left;
}

.legend {
    display: none;
    border: none;
    width: auto;
    padding: 2% 5%;   
}

.legend td:nth-child(1) {
    width: 2em;
}

.legend td {
    padding: 1%;
    height: 0.5em;
}

.legend td:nth-child(2) {
    width: 10em;
}