.task_ok{
    width: 15%;
    padding: 1em 0.5em;
    margin-top: 1.5em;
    font-size: 1.5em;
    text-align: center;
      
    float: left;
}
ol {
    font-size: 2.5em;
    margin-left: 3%;
   
}
li{
    width: 2%;
}